# Default .gitignore stuff
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS

# Dont' commit our modules
node_modules

# Local files meant for testing
test-basic.js
.env
coverage
.nyc_output