.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
quick_test.js
node_modules/*
secret.js
test-basic.js
.env
coverage
.nyc_output
node_modules
old-test.js